---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="导航"
  description=""
  pubDate={new Date("August 01 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    嘻嘻
  </p>
</Layout>

